#myTable input {
	margin-left: 5px;
}

#myTable {
	border:2px solid green;
	border-collapse: collapse;
	margin: 30px 30px 20px 40px;
}
#myTable td, th {
	border:1px solid green;
	padding: 5px;
}
#myTable th {
	color: #fff;
	background-color: #a7c942;
}

#button {
	color:#fff;
	border-radius: 3px;
	margin-left: 180px;
	background-color: orange;
	border:2px solid orange;
	cursor: pointer;
}

.dropDownTextArea {
	display: none; /* Initially hide all dropDownTextArea rows */
}
  
  /* Style for disabled button */
#button:disabled {
	background-color: #ccc; /* Change to your desired background color for disabled state */
	border: 2px solid #ccc;
	color: #999; /* Change to your desired text color for disabled state */
	cursor: not-allowed; /* Change cursor to not-allowed for disabled buttons */
}
